# تنظیمات حساس (توکن ربات، توکن AI)
config.json

# پایگاه داده محلی
bot_data.db


uploads/
database/

__pycache__/
*.py[cod]
*.pyo


*.log


.env

venv/
env/
.venv/


.vscode/
.idea/

.DS_Store
Thumbs.db